[submodule "modules/mod-challenge-modes"]
	path = modules/mod-challenge-modes
	url = https://github.com/outtieTV/mod-challenge-modes-hotfix.git
[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = git@github.com:mod-playerbots/mod-playerbots.git
[submodule "modules/mod-individual-progression"]
	path = modules/mod-individual-progression
	url = git@github.com:ZhengPeiRu21/mod-individual-progression.git
[submodule "modules/mod-ah-bot-plus"]
	path = modules/mod-ah-bot-plus
	url = git@github.com:NathanHandley/mod-ah-bot-plus.git
